@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

header {
  background-color: rgb(147, 240, 240);
  padding-top: 0.1rem;
  height: 70px;
}

body {
  margin: 0;
  min-height: 100%;
  background-color: #606be3;
  color: #0b3b9d;
  border: thin solid #8acce8;
  border-width: 1rem;
  font-family: 'Roboto Condensed', sans-serif;
}

h1 {
  text-align: center;
  font-family: Monospace;
  margin: 1rem 0 3rem 0;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;
}

section {
  min-width: 20rem;
  border: thin solid #7c7c7c;
  border-radius: 1rem;
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #6a96e3;
  box-shadow: 1rem #7c7c7c;
}

section h2,
section p {
  text-align: center;
}

section h3 {
  margin: 1rem 0;
  font-family: Monospace;
  font-size: 3rem;
}

fieldset {
  padding-left: 0;
  padding-right: 0;
  border: none;
}

fieldset input {
  padding: 0.5rem;
}

fieldset i {
  margin: 0 0.2rem;
}

fieldset i.add {
  color: green;
}

fieldset i.subtract {
  color: #f64545;
}

input {
  background-color: #6aaae1;
}
